#home{
    background-color: lightgray;
}

#foodTypesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foodTypes{
    margin: 3vh;
    transition: transform .2s;
    &:hover{
        transform: scale(1.05);
    }
}
#findContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 4vh;
}

#searched{
    background-color: lightgray;
    width: 60vw;
    min-height: 100vh;
    margin: auto;
}

a{
    text-decoration: none;  
}

img{
    width: 50vh;
    height: 40vh;
}

#type{
    text-transform: capitalize;
}