#foodTypesContainer{
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.foodTypes{
    margin: 3vh;
    transition: transform .2s;
    &:hover{
        transform: scale(1.05);
    }
}

a{
    text-decoration: none;  
}

img{
    width: 40vh;
    height: 30vh;
}

#type{
    text-transform: capitalize;
}