#foodContainer{
    margin: 2vh;
    display: flex;
    flex-direction: column;
}
 
.foodTypes{
    margin: 2vh auto;
    width: 50vw;
    transition: transform .2s;
    &:hover{
        transform: scale(1.05);
    }
}

a{
    text-decoration: none;
}